.airport-wrapper {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: left;
  .bread-crumb {
    line-height: 20px;
    font-size: 16px;
    @extend .ff-book;
    margin-top: 32px;
    span {
      margin: 0 4px;
    }
  }
  .main-title {
    line-height: 40px;
    font-size: 32px;
    @extend .ff-bold;
    padding: 32px 0 48px;
  }
  .search-bar-wrapper {
    position: relative;
    width: 100%;
    height: 40px;
    padding: 10px 42px;
    border: 1px solid #c3c0b8;
    border-radius: 20px;
    box-sizing: border-box;
    .icon-search {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 10px;
      left: 16px;
    }
    .search-input {
      width: 100%;
    }
  }
  .airport-list-wrapper {
    padding-bottom: 127px;
    .free-trips-wrapper {
      margin-bottom: -6px;
      .free-trips-desc {
        position: relative;
        line-height: 30px;
        padding-top: 24px;
        padding-left: 40px;
        p {
          word-break: break-word;
        }
        img {
          position: absolute;
          width: 30px;
          left: 0;
          vertical-align: middle;
        }
      }
    }
    .airport-list {
      @include airport-style();
      &:after {
        content: '';
        width: 32.5%;
      }
      .airport-item {
        margin-top: 48px;
      }
    }
    .no-results {
      padding-top: 35px;
      font-size: 20px;
      @extend .ff-book;
      text-align: center;
    }
  }
}

@media screen and (max-width: 1024px) {
  .airport-wrapper {
    width: 88%;
    padding: 0;
    .bread-crumb {
      line-height: 15px;
      font-size: 12px;
      margin-top: 16px;
    }
    .main-title {
      line-height: 30px;
      font-size: 24px;
      padding: 16px 0 32px;
    }
    .search-bar-wrapper {
      padding: 10px 15px 10px 42px;
    }
    .airport-list-wrapper {
      .free-trips-wrapper {
        .free-trips-desc {
          &:last-of-type {
          }
        }
      }
      .airport-list {
        .airport-item {
          width: 100%;
          margin-top: 40px;
        }
      }
      .no-results {
        padding-top: 60px;
      }
    }
  }
}
