.login-wrapper {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 16px;
  background-color: #fff;
  .login {
    width: 480px;
    padding: 24px 24px 40px;
    .login-title {
      height: 25px;
      line-height: 25px;
      font-size: 20px;
      @extend .ff-bold;
      padding-bottom: 32px;
      text-align: center;
    }
    .form {
      width: 100%;
      .form-item {
        padding-bottom: 0;
        .form-input {
          width: 100%;
          height: 52px;
          font-size: 16px;
          @extend .ff-book;
          padding: 16px 12px;
          margin-bottom: 8px;
          border: 1px solid #c3c0b8;
          border-radius: 4px;
          box-sizing: border-box;
          &.default-bg {
            border: none;
            background-color: #e9e9e9;
          }
          &:focus {
            border: 1px solid #f38b00;
            background-color: #fff;
          }
          &.form-input-error {
            border: 1px solid $red;
          }
        }
        .form-input-pwd-wrapper {
          position: relative;
          .form-input {
            padding-right: 86px;
          }
          .toggle-show-pwd {
            position: absolute;
            height: 52px;
            line-height: 52px;
            top: 0;
            right: 0;
            padding: 0 24px;
            font-size: 14px;
            @extend .ff-bold;
            text-decoration: underline;
            color: #555555;
            cursor: pointer;
          }
        }
        .error-msg {
          line-height: 18px;
          font-size: 14px;
          padding-bottom: 16px;
          padding-top: 0;
          margin-bottom: 0;
          color: $red;
        }
      }
      .btn-login {
        margin-top: 8px;
        @include confirmBtn(100%, 52px, 16px, 8px);
        &:hover {
          @include btnHoverEffect();
        }
        .btn-loading {
          @include loadingBtn();
        }
      }
    }
    .forgot-pwd {
      display: block;
      font-size: 16px;
      @extend .ff-med;
      padding: 8px 0;
      text-align: left;
      cursor: pointer;
    }
    .no-account {
      font-size: 16px;
      @extend .ff-med;
      margin-top: 28px;
      text-align: center;
      .sign-up-link {
        @extend .ff-bold;
        padding-left: 10px;
        text-decoration: underline;
        color: #fc7222;
        cursor: pointer;
      }
    }
  }

  .if-forgot-pwd {
    width: 360px;
    padding: 24px 84px 48px;
    text-align: center;
    border-radius: 16px;
    background-color: #fff;
    .title {
      line-height: 25px;
      font-size: 20px;
      @extend .ff-bold;
    }
    .desc {
      line-height: 24px;
      font-size: 16px;
      @extend .ff-book;
      padding: 30px 0;
      color: #555555;
    }
    .btn-reset-pwd {
      @include confirmBtn(100%, 52px, 16px, 8px);
      &:hover {
        @include btnHoverEffect();
      }
    }
    .btn-cancel {
      width: 100%;
      line-height: 48px;
      font-size: 16px;
      @extend .ff-bold;
      margin-top: 16px;
      color: #F38B00;
      border: 2px solid #F38B00;
      border-radius: 8px;
      cursor: pointer;
    }
  }
  .session-locked-wrapper {
    width: 360px;
    padding: 24px 84px 64px;
    text-align: center;
    border-radius: 16px;
    background-color: #fff;
    .title {
      line-height: 25px;
      font-size: 20px;
      @extend .ff-bold;
    }
    .lock-desc {
      line-height: 24px;
      font-size: 16px;
      @extend .ff-book;
      padding: 32px 0 40px;
      color: #555555;
    }
    .session-count-down {
      font-size: 20px;
      @extend .ff-bold;
    }
  }
}
.icon-close {
  position: absolute;
  width: 64px;
  height: 64px;
  right: 0;
  top: 4px;
  background: url('~img/icon-close.svg') no-repeat;
  background-size: 16px 16px;
  background-position: center;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .login-wrapper {
    width: 88%;
    box-sizing: border-box;
    .login, .if-forgot-pwd, .session-locked-wrapper {
      width: 100%;
      box-sizing: border-box;
    }
    .if-forgot-pwd, .session-locked-wrapper {
      padding: 30px 15px 18px;
    }
    .session-locked-wrapper {
      padding-bottom: 40px;
    }
  }
}